!!!
%html{ lang:'en'}
  %head
    %title Simple Order
    %link{ rel:'stylesheet', type:'text/css', href:'/assets/css/bootstrap.css' }

  %body
    .container

      =yield

    %script{ src:'/assets/js/jquery-2.0.3.min.js' }
    %script{ src:'/assets/js/handlebars.js' }
    %script{ src:'/assets/js/app.js' }
